html {
  font: 112.5%/1.45 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
  border: none;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

a {
  color: #cf6e00;
  color: #006bcf;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

code,
kbd,
pre,
samp {
  color: #110f00;
  background-color: white;
}
pre {
  overflow: auto;
  padding: 0.5rem;
}

.email-octopus-form-row-hp {
  display: none;
}
