.text-white {
  color: white;
}
.text-shadow {
  color: #110f00;
}

.bg-key {
  background-color: rgb(255, 230, 62);
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
.bg-shadow {
  background-color: #110f00;
}

.bg-grey {
  background-color: rgb(155, 155, 155);
}
.bg-grey-dark {
  background-color: rgb(125, 125, 125);
}

.border {
  border-width: 1px;
  border-style: solid;
}
.border-b-2 {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
}

.rounded {
  border-radius: 0.25rem;
}

.appearance-none {
  appearance: none;
}
