.border {
  border-width: 1px;
  border-style: solid;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
.bg-shadow {
  background-color: #110f00;
}

.bg-grey {
  background-color: rgb(155, 155, 155);
}
.bg-grey-dark {
  background-color: rgb(125, 125, 125);
}

.rounded {
  border-radius: 0.25rem;
}

.appearance-none {
  appearance: none;
}
